    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    .containers {
      display: flex;
      justify-content: space-between;
      padding: 1em 4em;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .logo p{
      font-family: sans-serif;
      color: orange;
      font-size: 1.6em;
    }

    .logo2 {
      font-weight: bold;
    }

    .images img{
      width: 20px; 
    }

    select {
      padding: 10px;
    }

    .images {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: sans-serif;
      font-style: italic;
      color: gray;
    }

    select {
      border: 1px solid orange;
      border-radius: 20px;
      color: orange;
    }

    .imagess1 img{
      width: 40px;
    }

    .imagess1 {
      padding: 2.3em 10em;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .imagess1 p {
      font-family: sans-serif;
      font-weight: bold;
      color: black;
      display: flex;
        font-size: 20px;
        align-items: center;
        gap: 0.5em;
        cursor: pointer;
        
    }

    .imagess1 p:hover {
      color: orange;
      cursor: pointer;
    }

  .button-trd button{
    border: 2px solid orange;
    padding: 1em 4em;
    border-radius: 2em;
    background-color: white;
    font-size: 1em;
    color: orange;
    font-weight: bold;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  }

  .imagess1 .texts {
    color: orange;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 20%;
  }

  .container-mid {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 9px 6px 2px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    min-height: calc(90vh - 4rem);
    transform: translate(-35%,-50%);
  }

  .main-container{
    margin-left: 20vw;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 100 vh;
    position: relative;
  }

    textarea {
      resize: none;
      border: none;
      margin-left: 2em
    }

    textarea:focus {
      outline: none;
    }

    .container-mid h1 {
      font-family: sans-serif;
      color: rgb(219, 217, 217);
      font-size: 45px;
      margin-top: 1em;
    }

  .profile-icon img {
    border-radius: 50%;
    width: 3em;
  }

  .comment-content {
  font-family: sans-serif;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  }

  .like-button img{
    width: 2em;
  }

  .like-button {
     border: none;
     background-color: #fff;
  }

  .username {
    display: flex;
    margin-left: 3em;
    margin-top: -2em;
    font-size: 20px;
  }

  .date {
    margin-left: 11em;
    position: relative;
    top: -1.3em;
    font-size: 15px;
  }

  .area-com p {
    display: flex;
    justify-content: end;
    margin-top: -2em;
    font-family: sans-serif;
    color: gray;
  }

  .container2 h1 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 1em;
  }

  .titles {
    background: rgb(255, 245, 231);
    padding: 20px;   
    border-radius: 20px;
    font-family: sans-serif;
    transform: translate(1em, -65em);
    float: right;
  }

  .profiles-foll {
    background-color: white;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }

  .profiles-foll .profiles1{
    border-radius: 50%;
    width: 2.5em;
  }

  .profiles-foll .add-friends {
    width: 1.5em;
    margin-left: 100px;
  }

  .profiles-foll p {
    margin-top: 0.2em;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .see-more {
    text-align: center;
    margin-top: 1em;
    font-family: sans-serif;
    color: rgb(141, 137, 137);
  }

